.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
    padding: 20px 36px;
    font-family: 'Insaniburger with Cheese', sans-serif;
    gap: 20px;
  }
  
  .navbar__title {
    color: var(--white);
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .navbar__brand {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .navbar__title span {
    color: var(--primary);
  }
  
  .navbar__links {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .navbar__links li a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .navbar__links li a,
  .navbar__links .button {
    font-size: 20px;
    line-height: 24px;
  }
  
  .navbar__links .button {
    text-transform: uppercase;
    padding: 6px 15px 6px 15px;
    transition: all 0.8s;
    background-color: var(--primary);
    color: var(--white);
    transition: .8s;
    border-radius: 20px; 
  }

  .navbar__links button:hover {
    background-color: #ffffff;
    color: #f8af35;
  }
  
  @media (max-width: 1279px) {
    .navbar,
    .navbar__brand {
      flex-direction: column;
    }
  
    .navbar__links {
      gap: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .navbar__links {
      flex-direction: column;
    }
  
    .navbar__title {
      font-size: 20px;
      line-height: 24px;
    }
  
    .navbar__links li a {
      font-size: 16px;
      line-height: 20px;
    }
  }